// admin styles - page - ALL_USER

.mgy-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

#myTabContent {
	padding: 15px 0;
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
	background-color: #28a745;
}

.ovfx-a {
	overflow-x: auto;
}